body {
	width: 1400px;
	margin: auto;
	font-family: Arial;
}
.header,
.navigation-bar {
	width: 100%;
	margin: auto;
}

.header {
	position: relative;
	height: 300px;
	background-color: rgb(104, 242, 206);
}

.settings-icon,
.application-icon,
.account-icon,
.navigation-bar .site-navigation ul,
.navigation-button,
.main-content .search-results,
.main-content .short-info,
.results-amount,
.results-amount p {
	display: inline-block;
}

.settings-icon,
.application-icon,
.account-icon {
	padding-left: 10px;
	padding-right: 10px;
}

.settings-bar {
	position: absolute;
	right: 5%;
}

.search {
	position: absolute;
	bottom: 25%;
	left: 15%;
}
.search input {
	width: 400px;
	height: 40px;
	border-style: none;
	font-size:
}

.navigation-bar {
	height: 50px;
	background-color: rgb(33, 39, 107);
	position: absolute;
	bottom: 0%;
}

.navigation-button a {
	padding: 15px;
}

.navigation-button a,
.bottom-navigation a,
.learn-more a,
.bottom-navigation h1 {
	text-decoration: none;
}

.navigation-button a,
.bottom-navigation a,
.bottom-navigation h1 {
	color: white;
}

.navigation-button a,
.learn-more a {
	text-transform: uppercase;
	font-size: 14px;
}

.main-content {
	border: 3px solid black;
	width: 80%;
	margin: auto;
}

.main-content .search-results,
.main-content .short-info {
	border: 1px solid red;
	width: 45%;
	margin: auto;
}

.main-content .search-results div,
.main-content .short-info .no-idea-how-to-name-that  {
	border: 1px solid blue;
	width: 80%;
	margin: auto;
}

.main-content .short-info {
	position: fixed;
}

.description {
	width: 50%;
	font-size: 14px;
}

.bottom-navigation {
	background-color: rgb(33, 39, 107);
}
.bottom-navigation h1 {
	margin: auto;
	height: 50px;
	font-size: 16px;
}
.bottom-navigation p {
	font-size: 10px;
}
