body {
	font-family: Arial, Tahoma, sans-serif;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
	margin: auto;
}

.section {
	width: 80%;
	margin: auto;
}

.page-header {
	background-color: rgb(104, 242, 206);
	height: 220px;
}

.page-header .settings-bar .settings-icon,
.page-header .settings-bar .application-icon,
.page-header .settings-bar .account-icon,
.navigation-bar .section .site-navigation,
.navigation-bar .section .site-navigation ul,
.navigation-bar .section .site-navigation ul li,
.navigation-bar .section .results-amount,
.navigation-bar .section .results-amount p,
.main-content .section .search-results,
.main-content .section .short-info {
	display: inline-block;
	padding: 0;
}

.page-header .settings-bar {
	position: absolute;
	right: 5%;
	top: 1%;
}

.page-header .settings-bar .settings-icon,
.page-header .settings-bar .application-icon,
.page-header .settings-bar .account-icon {
	padding-left: 10px;
	padding-right: 10px;
}

.page-header .section .search-input {
	position: relative;
	top: 9em;
}

.page-header .section .search-input input {
	width: 400px;
	height: 40px;
	border-style: none;
	font-size: 20px;
	padding-left: 1%;
	border-radius: 3px;
	box-shadow: 0px 2px 2px #888888;
}

.navigation-bar {
	height: 50px;
	background-color: rgb(33, 39, 107);
}

.navigation-bar .section .site-navigation ul {
	list-style: none;
}

.main-content .section .search-results div a,
.main-content .section .short-info .learn-more a,
.navigation-bar .section .site-navigation ul li a {
	text-decoration: none;
}

.main-content .section .short-info .learn-more a,
.navigation-bar .section .site-navigation ul li a {
	text-transform: uppercase;
}

.navigation-bar .section .site-navigation ul li a:hover {
	color: #FFF;
}

.navigation-bar .section .site-navigation ul li {
	padding-right: 40px;
}
.navigation-bar .section .site-navigation ul li:last-child {
	padding: 0;
}

.navigation-bar .section .results-amount {
	float: right;
}

.navigation-bar .section .site-navigation ul li a,
.navigation-bar .section .results-amount p {
	font-size: 12px;
}

.navigation-bar .section .results-amount p:first-child {
	color: #FFF;
}

.navigation-bar .section .site-navigation ul li a,
.navigation-bar .section .results-amount p:last-child {
	color: #C2C2C2;
}

/* main content */

.main-content .section .search-results {
	width: 48%;
}

.main-content .section .short-info {
	width: 25em;
	margin-top: 5%;
	position: fixed;
	padding: 1em;
	box-shadow: 0px 2px 2px #888888;
}

.main-content .section .search-results div {
	margin-top: 3em;
	padding-bottom: 2em;
	height: 8em;
	border-bottom: 1px solid #C2C2C2;
	width: 80%;
}

.main-content .section .short-info .description {
	width: 100%;
}

/* bottom navigation */

.bottom-navigation {
	height: 100px;
	background-color: rgb(33, 39, 107);
}

.bottom-navigation div {
	width: 20em;
	position: relative;
	left: 22em;
}

.bottom-navigation div h1 {
	margin-bottom: 0;
	color: #FFF;
}

.bottom-navigation div p a {
	text-decoration: none;
	color: #C2C2C2;
}

.bottom-navigation div p a:active {
	color: red;
}

.bottom-navigation div p {
    margin: 0;
    position: relative;
    left: 1.8em;
    letter-spacing: 0.2em;
}

.button {
	width: 3em;
	height: 3em;
	border: 1px solid lightblue;
	border-radius: 100px;
	background-color: lightblue;
	position: relative;
	left: 50%;
	bottom: 7.9em;
}

.button p {
	font-size: 26px;
	color: #FFF;
	position: relative;
	bottom: .67em;
	left: .67em;
}
